body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;

}

header {
    background-color: #0abddd;
    color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display:inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #1eaee7;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

 #about {
    flex-direction: row;
    display: inline-block;
    display: grid;
    grid-row: 80px;
    
} 

.about h2{
    color: #f50253;
    text-align:center;
    display: grid;
    margin-top: 70px;
    
}
.about p{
    text-align: center;
    color: #c41717;


} 


 .about .image img{
    justify-items:center;
    justify-content:left;
    border-radius: 80px;
    background-position-x: right;

}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: relative;
    width: 100%;
    bottom: 0;
}